{% extends "base.html" %}
{% block title %} Add New Image {% endblock %}
{% block heading %}
    <h1 class="text-center mt-3 display-5">Add New Image</h1>
{% endblock %}
{% block body %}
    <div class="container my-5" style="max-width: 600px;">
        <form action="/" method="post">
            <div class="form-floating m-4">
                <input type="text" id="imgname" name="imgname" class="form-control" placeholder="Image Name" required />
                <label for="imgname" class="px-4">Image Name</label>
            </div>
            <div class="form-floating m-4">
                <input type="url" id="imgurl" name="imgurl" class="form-control" placeholder="Image URL" required />
                <label for="imgurl" class="px-4">Image URL</label>
            </div>
            <div class="form-floating m-4">
                <textarea style="height: 150px" id="imgdetails" name="imgdetails" class="form-control" placeholder="Image Details" required></textarea>
                <label for="imgdetails" class="px-4">Image Details</label>
            </div>
            <div class="d-grid gap-3 d-md-flex mx-auto" style="width: fit-content;"">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/" class="btn btn-primary">Home</a>
            </div>
        </form>
    </div>
{% endblock %}